main {
    background-color: #005994;
    padding-bottom: 1rem;
}

.sobre-titulo {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.conteudo-pagina {
    background-color: white;
    max-width: 80%;
    border-radius: 14px;
    padding-left: 6rem;
    padding-right: 6rem;
}

.observatorio-titulo {
    padding-top: 3rem;
    padding-bottom: 1.6rem;
}

.section-titulo {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    color: #182B46;
}

.section-texto
/* ,ul li */
 {
    font-size: 1rem;
    color: black;
    font-weight: var(--font-weight-light);
}
.section-um {
    gap: 8rem;
}

.div-texto-intro {
    flex-basis: 41rem;
    flex-shrink: 1;
    flex-grow: 0;
}

.img-ibs {
    height: auto;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 47%;
}

.objetivos-section {
    background-color: #E9E9E9;
    border-radius: 16px;
    min-height: 11rem;
    gap: 8%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.objetivos-titulo {
    background-color: white;
    border-radius: 41px;
    margin-left: 6rem;
    min-height: 7rem;
    flex-basis: 70rem;
    flex-grow: 0;
    flex-shrink: 1;
}

.objetivos-texto {
    margin-right: 2rem;
}

.img-piramide {
    width: 42%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(.8);
}

.conceito-texto {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
}

.conceito-titulo {
    font-size: 1.5rem;
}

.div-conceitos-grupo {
    gap: 4%;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    
}

.img-mandala {
    width: 57%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: 1rem 0;
}

.metodologia-dados-container {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}

.dados-section {
    gap: 2rem;
    padding-bottom: 3rem; 
}

@media (max-width: 768px) {
    .objetivos-section,
    .div-conceitos-grupo,
    .dados-section,
    .section-um {
        flex-direction: column;
    }

    .objetivos-titulo {
        max-height: 10rem;
        margin: 1rem 0;
        width: 88%;
    }

    .objetivos-texto {
        margin: 1rem;
    }

    .img-piramide {
        width: 150%;
    }

    .img-mandala {
        width: 34rem;
    }

    .img-ibs {
        max-width: 125%;
    }

    .section-um {
        gap: 2rem;
    }
}

.card-download-short-paper {
    border: 2px solid #005994;
    border-radius: 9px;
    padding: 2.5rem 1rem;
    width: 30%;
    margin-bottom: 2rem;
}

.dimensao-short-paper {
    color: #182B46;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.download-paper-button {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 3rem;
}

.secao-download-papers {
    padding-top: 2rem;
    gap: 2%;
}

