version: "3.8"
services:
    production:
      container_name: barcarena_sustentavel
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - "80:80"
        - "443:443"

