.header-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.location-container {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 16px;
}

.location-parent {
  color: #b7b6b6;
}

.location-separator {
  margin: 0 4px;
  color: #b7b6b6;
}

.location-child {
  color: #676767;
  font-weight: 600;
}
