.back-button {
  background-color: #e8e7e7;
  color: #1D385E;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.1s ease;

  /* espaçamento em relação às bordas */
  margin: 0.5rem 1rem; /* top/bottom = 0.5rem, left/right = 1rem */
}

.back-button:hover {
  background-color: #c5e4fd;
}

.back-button:active {
  transform: scale(0.97);
}
