.contribuicao-section {
    max-width: 70%;
    margin-top: 5rem;
    border: 2px solid #e9e9e9;
    border-radius: 18px;
}

.header-contribuicao {
    min-height: 5.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #123059;
    background-color: #e9e9e9;
}

.contribuicao-corpo {
    margin: 2rem 4rem;
}

form .campo-comentario {
    min-height: 7.5rem !important;
}

.campo-informacao {
    background-color: #E9E9E9;
    border-radius: 23px;
    width: 80%;
    padding: 0 2rem;
    margin-top: 1rem;
}

.info-icone {
    max-width: 5.5rem;
    height: auto;
    margin-right: 1.5rem;
}

form .botao-contribuicao {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: #274D81;
    border-radius: 24px;
    min-width: 13rem;
}

.recaptcha {
    margin-top: 1rem;
}