.submenu-dimensao {
    background-color: var(--submenu-dimensao-color);
}
#mostrarDimensoes{
    display: flex;
}
#dropDownSubmenuDimensao{
    display: none;
}
.icon-color-submenu-dimensao {
    width: 60px;
    height: 60px;
    background-color: var(--icon-color); /* Define a cor do ícone */
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.icon-color-submenu-dimensao.increase {
    width: 90px;
    height: 90px;
}

.submenu-dimensao-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 130px;
    max-height: 130px;
    border-radius: 8px; /* Arredonda os cantos do card */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: transform 0.2s; /* Adiciona uma transição suave */
    width: 150px;
}

.cards-row {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.393);
}

.label {
    width: 86%;
}

.label-dimensao {
    color: white;
    font-size: calc(1rem + 1vw);
    margin-left: 2rem;
    margin-bottom: 0;
}

.label-icon-dimensao {
    min-width: 50px;
    min-height: 50px;
    width: calc(2rem + 3vw);
    height: calc(2rem + 3vw);
    /*
    max-width: 110px;
    max-height: 110px;
    /* margin: 15px; */
}

.submenu-dimensao-item:hover {
    transform: scale(1.1); /* Aumenta o card ao passar o mouse */
}

.submenu-dimensao-item.selected {
    transform: scale(1.1);
}

.submenu-dimensao-item p {
    margin: 0; /* Remove margem padrão */
    text-align: center; /* Centraliza o texto */
    font-size: 13px;
}

.tituloDimensao {
    display: flex;
    justify-content: space-between;
}

.botao-download-resumo {
    display: flex !important;
    color: white !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
    max-width: 16em;
    /* padding: 1.5em 0 !important; */
    padding: 20px 5px 10px 5px !important;
    margin-left: 1rem !important;
}

@media (max-width:900px){
    #mostrarDimensoes {
        display: none;
    }
    #dropDownSubmenuDimensao {
        display: block;
    }
    .dropdown-button-subdimensao{
        background-color: var(--dark-blue-d);    
        color: white;
        border: 1px solid white;
        border-radius: 6px;
        padding: 10px 18px;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }
    .botao-download-resumo p{
        display: none;
        width: 3em;
    }
    .botao-download-resumo{
        height: 20px;
    }
}