@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.home-container {
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.hero-section {
    text-align: center;
    margin-bottom: 3rem;
}

.hero-section h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

.dimensoes-grid {
    display: grid;
    grid-template-columns: 50% 50%; /*repeat(auto-fill, minmax(250px, 1fr));*/
    /*gap: 2rem;*/
}

.dimensao-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.dimensao-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dimensao-button {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dimensao-button h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
    transition: 0.3s ease;
}

.dimensao-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .dimensoes-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5rem;
    }

    .hero-section h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .dimensoes-grid {
        grid-template-columns: 1fr;
    }

    .home-container {
        padding: 1rem;
    }
}

@font-face {
    font-family: "Brandom";
    src: url("../fonts/Brandon-Grotesque/Brandon_med.otf") format("opentype");
}
